.footer{height:30px;line-height:30px;margin:0 auto;color:#FFF;border:1px solid #B7C0C8;background-color:#FFF;padding:1px}
.footer p{background:linear-gradient(#0044CC, #006DCC);text-align:center}
.footer strong{color: #77BF0B;}

/*FORMS*/
label.required:before {color: #FF0000;content: "*";font-size: 14px;line-height: 12px;position: relative;}

/*PANEL*/
.text-center{text-align:center!important}
.text-right{text-align:right}
.disabledTab{pointer-events: none;}

label{display:inline;width:100px;float:left;line-height:28px;text-align:left}
.panel p {display:inline;float:left}
.panel label{width:70px;margin-left:7px;overflow:hidden}
.datepicker {z-index:1151;}
.datepicker td.day.disabled{color:#CCC}
.panel {padding: 15px;margin-bottom: 20px;background-color: #ffffff;border: 1px solid #dddddd;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);}
.panel-heading {padding: 10px 15px;margin: -15px -15px 15px;font-size: 17.5px;font-weight: 500;background-color: #f5f5f5;border-bottom: 1px solid #dddddd;border-top-right-radius: 3px;border-top-left-radius: 3px;}
.panel-footer {padding: 10px 15px;margin: 15px -15px -15px;background-color: #f5f5f5;border-top: 1px solid #dddddd;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;}
span.success{color:#9AE510;font-weight:bold}
span.info{color:#E55010;font-weight:bold}
p.buttonContainer{display:block;width:300px;float:right;margin:0}